
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
.vs/Miz Game Jam/v15/.suo
.vs/Miz Game Jam/v15/Server/sqlite3/db.lock
.vs/Miz Game Jam/v15/Server/sqlite3/storage.ide
.vs/Miz Game Jam/v15/Server/sqlite3/storage.ide-shm
.vs/Miz Game Jam/v15/Server/sqlite3/storage.ide-wal
Game.exe
Game 0.0.2.pck
.vs/Whist Away/v15/Server/sqlite3/storage.ide-wal
.vs/Whist Away/v15/Server/sqlite3/storage.ide-shm
.vs/Whist Away/v15/Server/sqlite3/db.lock
.vs/Whist Away/v15/.suo
Game.exe
Build/Data/Credits.txt
Build/Data/WhistAway 0.1.1.exe
Build/favicon.png
Build/favicon.png.import
Build/Whist Away.lnk
Build/Whist Away.zip
Build/Whist Away/Credits.txt
Build/Whist Away/Data/WhistAway 0.1.0.exe
Build/Whist Away/Whist Away.lnk
Build/WhistAway 0.1.0.html
Build/WhistAway 0.1.0.js
Build/WhistAway 0.1.0.pck
Build/WhistAway 0.1.0.png
Build/WhistAway 0.1.0.png.import
Build/WhistAway 0.1.0.wasm
Build/WhistAway 0.1.1.zip
.vs/Whist Away/v15/Server/sqlite3/storage.ide
.vs/WhistAway/v15/.suo
.vs/WhistAway/v15/Server/sqlite3/db.lock
.vs/WhistAway/v15/Server/sqlite3/storage.ide
.vs/WhistAway/v15/Server/sqlite3/storage.ide-shm
.vs/WhistAway/v15/Server/sqlite3/storage.ide-wal
